.atom-build.json
*/enabled/*
.DS_Store
custom/*
!custom/example.bash
.rvmrc
aliases/custom.aliases.bash
completion/custom.completion.bash
lib/custom.bash
plugins/custom.plugins.bash
*.swp
.*.un~
.c9/
bats
.idea
*.sublime-workspace
*.sublime-project
enabled/*
/enabled
tmp/
